# for loop

    Two types of for loops in any language:
        1. for (int a = 0; a < 10 ; a ++)       ==> This is NOT VALID in python
        2. for a in range(0, 10, 1)             ==> This is the only valid for loop in python

    NOTE: for loop can be applied only on ITERABLE OBJECT
        non-iterable objects - int, float, None, bool(True/False)
        iterable objects     - string, range, list, tuple, set, dictionary, iterators, generators

In [4]:
# int
# for i in 12123:
#     print(i)
# TypeError: 'int' object is not iterable

# float
# for i in 1213213.123:
#     print(i)
# TypeError: 'float' object is not iterable

# None
# for i in None:
#     print(i)
# TypeError: 'NoneType' object is not iterable

# bool - True/False
# for i in False:
#     print(i)
# TypeError: 'bool' object is not iterable

In [ ]:
# strings
for i in "Python":
    # print(i, end='\n')
    print(i, end=", ")
print()

for ch in "12323233":
    print(ch, end=" ")
print()

for each in str(1231.123):
    print(each, end=", ")
print()

for each in str(True):
    print(each, end=", ")
print()

for each in "None":
    print(each, end=", ")

P, y, t, h, o, n,
1 2 3 2 3 2 3 3
1, 2, 3, 1, ., 1, 2, 3,
T, r, u, e,
N, o, n, e,

In [9]:
loop_count = 0
for each_chr in "Python":
    print(loop_count, each_chr)
    loop_count += 1

0 P
1 y
2 t
3 h
4 o
5 n

In [10]:
# enumerate() - builtin function to get the loop index
for each_chr in "Python":
    print(each_chr)

for each_pair in enumerate("Python"):
    print(each_pair, type(each_pair))

P
y
t
h
o
n
(0, 'P') <class 'tuple'>
(1, 'y') <class 'tuple'>
(2, 't') <class 'tuple'>
(3, 'h') <class 'tuple'>
(4, 'o') <class 'tuple'>
(5, 'n') <class 'tuple'>

In [12]:
# unpacking
num1 = 222, 333  # Asignment operation
num2, num3 = 222, 333  # UNpacking

print(
    f"""
    {type(num1) = } {num1 = }
    {type(num2) = } {num2 = }
    {type(num3) = } {num3 = }
"""
)

    type(num1) = <class 'tuple'> num1 = (222, 333)
    type(num2) = <class 'int'> num2 = 222
    type(num3) = <class 'int'> num3 = 333

In [13]:
num4 , num5 = 444

TypeError: cannot unpack non-iterable int object

In [14]:
for each_pair in enumerate("Python"):
    print(each_pair, type(each_pair))

(0, 'P') <class 'tuple'>
(1, 'y') <class 'tuple'>
(2, 't') <class 'tuple'>
(3, 'h') <class 'tuple'>
(4, 'o') <class 'tuple'>
(5, 'n') <class 'tuple'>

In [16]:
for loop_index, each_chr in enumerate("Python"):
    # print(loop_index, each_chr)
    print(f"At position {loop_index}, character is {each_chr}")

At position 0, character is P
At position 1, character is y
At position 2, character is t
At position 3, character is h
At position 4, character is o
At position 5, character is n

In [17]:
# To get the loop index with an offset
for loop_index, each_chr in enumerate("Python", -3):
    print(f"At position {loop_index:2}, character is {each_chr}")

At position -3, character is P
At position -2, character is y
At position -1, character is t
At position  0, character is h
At position  1, character is o
At position  2, character is n

In [18]:
for loop_index, each_chr in enumerate("Python", 77):
    print(f"At position {loop_index:2}, character is {each_chr}")

At position 77, character is P
At position 78, character is y
At position 79, character is t
At position 80, character is h
At position 81, character is o
At position 82, character is n

In [19]:
# lists
for each_ele in [11, 22, 33, 44, 55]:
    print(each_ele, end=", ")

11, 22, 33, 44, 55,

In [20]:
for each_ele in enumerate([11, 22, 33, 44, 55]):
    print(f"{each_ele[0]} ===> {each_ele[1]}")

0 ===> 11
1 ===> 22
2 ===> 33
3 ===> 44
4 ===> 55

In [21]:
for loop_index, each_ele in enumerate([11, 22, 33, 44, 55]):
    print(f"{loop_index} ===> {each_ele}")

0 ===> 11
1 ===> 22
2 ===> 33
3 ===> 44
4 ===> 55

In [22]:
for loop_index, each_ele in enumerate([11, 22, 33, 44, 55], -50):
    print(f"{loop_index} ===> {each_ele}")

-50 ===> 11
-49 ===> 22
-48 ===> 33
-47 ===> 44
-46 ===> 55

In [23]:
# Assignment: perform for loop & Enumeration on range() object