## String Operations


    Strings can be represented using
        1) single quotes,
        2) double quotes, or
        3) triple single quotes or
        4) triple double quotes

In [1]:
# String with single quotes
language = 'Python Programming'
print(language, type(language))

Python Programming <class 'str'>

In [2]:
# String with double quotes
language = "Python Programming"
print(language, type(language))

Python Programming <class 'str'>

In [3]:
# String with triple single quotes
language = '''Python Programming'''
print(language, type(language))

Python Programming <class 'str'>

In [4]:
# String with triple double quotes
language = """Python Programming"""
print(language, type(language))

Python Programming <class 'str'>

NOTE:     PEP 8 -> use triple double quotes for doc-strings

###  Importance and usage of multiple quotes

In [5]:
language = 'Python Programming'
print(language, type(language))

Python Programming <class 'str'>

In [6]:
question = 'How are you ?'
print(question, type(question))

How are you ? <class 'str'>

In [7]:
where_abouts = 'what's up !'

SyntaxError: unterminated string literal (detected at line 1) (3503667590.py, line 1)

In [8]:
where_abouts = 'what\'s up !'
print(where_abouts, type(where_abouts))

what's up ! <class 'str'>

In [9]:
# NOTE 1: Placing \ before any operator with result
# in treating operator as a ordinary character

In [11]:
other_string = 'what's going in yours' in-law's house'

SyntaxError: unterminated string literal (detected at line 1) (3629636532.py, line 1)

In [12]:
other_string = 'what\'s going in yours\' in-law\'s house'
print(other_string)

what's going in yours' in-law's house

In [13]:
other_string = "what's going in yours' in-law's house"
print(other_string)

what's going in yours' in-law's house

In [14]:
sql_cmd = "select * from mytable where name = 'udhay' and profession like "%work" "

SyntaxError: invalid syntax (1611020339.py, line 1)

In [16]:
sql_cmd = '''select * from mytable where name = 'udhay' and profession like "%work" '''
print(sql_cmd)

select * from mytable where name = 'udhay' and profession like "%work"

In [17]:
some_other_str = """ python -c 'awdwad' asdss "sfdsdfd", '''dedfdfwef sd -m jd;jd''' """
print(some_other_str)

 python -c 'awdwad' asdss "sfdsdfd", '''dedfdfwef sd -m jd;jd'''

In [18]:
print("\n\n")
# '\''
# "'"
# '"'
# ''' '""' '''
# """ ''' '""' '''' """
# "  ''' "

##### Multi-line Strings

In [20]:
print(
    'Today is an awesome day
    to learn python'
)

SyntaxError: unterminated string literal (detected at line 2) (4141887658.py, line 2)

NOTE: Python is interpreter based language, line by line execution happens

In [21]:
print(
    'Today is an awesome day\
    to learn python'
)

# \ line continuation operator

Today is an awesome day    to learn python

In [22]:
print(
    "Today is an awesome day\
    to learn python"
)

Today is an awesome day    to learn python

In [23]:
print(
    '''Today is an awesome day\
    to learn python'''
)

Today is an awesome day    to learn python

In [24]:
print(
    """Today is an awesome day\
    to learn python"""
)

Today is an awesome day    to learn python

By default, triple quote strings are designed for multiline

In [25]:
print(
    '''Today is an awesome day
    to learn python'''
)

Today is an awesome day
    to learn python

In [26]:
print(
    """Today is an awesome day
    to learn python"""
)

Today is an awesome day
    to learn python

In [27]:
print(
    """
    a - apple
    b - ball
    c - cat
    d - dog"""
)

    a - apple
    b - ball
    c - cat
    d - dog

In [28]:
sql_cmd = """
    Select  *
    from table1 t1
    LEFT JOIN table2 t2 on t1.id = t2.id
    ORDER BY t1.id;
"""
print(sql_cmd)

    Select  *
    from table1 t1
    LEFT JOIN table2 t2 on t1.id = t2.id
    ORDER BY t1.id;

In [29]:
# Gotcha
# my_string = 'select * from my_table where column='python' and column2 = "django"'
# my_string = "select * from my_table where column='python' and column2 = "django""
my_string = ''' select * from my_table where column='python' and column2 = "django"'''
print(my_string)

 select * from my_table where column='python' and column2 = "django"

In [30]:
my_string = """  select * from my_table where column='python' and column2 = "django""""

SyntaxError: unterminated string literal (detected at line 1) (1135251421.py, line 1)

In [31]:
my_string = """  select * from my_table where column='python' and column2 = "django" """

In [32]:
my_string = """  select * from my_table where column='python' and column2 = "django";"""
print(my_string)

  select * from my_table where column='python' and column2 = "django";

In [33]:
my_string = ''' select * from my_table where column='python' and column2 = 'django''''

SyntaxError: unterminated string literal (detected at line 1) (3875306185.py, line 1)

In [34]:
my_string = ''' select * from my_table where column='python' and column2 = 'django' '''

In [35]:
my_string = ''' select * from my_table where column='python' and column2 = 'django'; '''

#### String Indexing

In [36]:
language = 'Python Programming'
print(language, type(language))

Python Programming <class 'str'>

In [37]:
# len() - to get no. of characters in string
print("len(language)=", len(language))

len(language)= 18

In [38]:
# P   y  t  h  o n   P r  o g  r  a  m  m  i  n  g
# 0   1  2  3  4 5 6 7 8  9 10 11 12 13 14 15 16 17    - forward indexing
# -18                    -9 -8 -7 -6 -5 -4 -3 -2 -1    - reverse indexing

# NOTE: indexing starts with 0

In [39]:
print("language    :", language)
print("language[14]:", language[14])
print("language[6] :", language[6])
print("language[17]:", language[17])

language    : Python Programming
language[14]: m
language[6] :
language[17]: g

In [40]:
print('language[18]:', language[18])

IndexError: string index out of range

In [41]:
print("language[0]   :", language[0])
print("language[-0]  :", language[-0])

language[0]   : P
language[-0]  : P

In [42]:
-0

0

In [43]:
# P   y  t  h  o n   P r  o g  r  a  m  m  i  n  g
# 0   1  2  3  4 5 6 7 8  9 10 11 12 13 14 15 16 17    - forward indexing
# -18                    -9 -8 -7 -6 -5 -4 -3 -2 -1    - reverse indexing

# NOTE: indexing starts with 0

In [44]:
print("language[-3]  :", language[-3])
print("len(language) :", len(language))
print("language[len(language)-3]  :", language[len(language) - 3])

language[-3]  : i
len(language) : 18
language[len(language)-3]  : i

In [45]:
print("language[-18] :", language[-18])
print("language[0]   :", language[0])

language[-18] : P
language[0]   : P

In [46]:
print('language[-19] :', language[-19])

IndexError: string index out of range

In [47]:
# NOTE 1: For a string of length N,
# we can indexing from -N to (N -1)

In [48]:
print('language[0.0]   :', language[0.0])

TypeError: string indices must be integers, not 'float'

###  String slicing operations

In [49]:
# P   y  t  h  o n     P r o g  r  a  m  m  i  n  g
# 0   1  2  3  4 5  6  7 8 9 10 11 12 13 14 15 16 17   - forward indexing
# -18                                      -3 -2 -1    - reverse indexing

In [50]:
# indexing
print("language[0]    :", language[0])

language[0]    : P

In [52]:
# Slicing
print("String Slicing")  # [start_index: final_index]
print("language[0:11] :", language[0:11])  # Python Prog

String Slicing
language[0:11] : Python Prog

In [53]:
print("language[5:17] :", language[5:17])  # n Programmin

language[5:17] : n Programmin

In [54]:
print("language[7:10] :", language[7:10])  # Pro

language[7:10] : Pro

In [55]:
# NOTE: In python, it doesn't include the last value, in a boundary condition.

In [56]:
print("language[0:5]  :", language[0:5])  # Pytho
print("language[0:6]  :", language[0:6])  # Python

language[0:5]  : Pytho
language[0:6]  : Python

In [57]:
print("language[7:18] :", language[7:18])   # Programming
print("language[7:999]:", language[7:999])  # 999 index isn't present
print("language[45:87]:", language[45:87])  # indexes are not present

language[7:18] : Programming
language[7:999]: Programming
language[45:87]: