# String Formatting

            - Types
                1. Old Style formatting (or literal formatting)
                2. New Style formatting
                3. F-Strings  ( works from python 3.6+)


    OLD-Style formatting
        %d - integer
        %i - integer

        %c - single char
        %s - string/char

        %f - floating-point
        %F - floating-point

        %o - octal
        %x - hexadecimal lowercase
        %X - hexadecimal uppercase

In [2]:
print("" % ())
print("My lucky number is %d")

print("My lucky number is %d" % (12))
print("My lucky number is %d" % 12)

My lucky number is %d
My lucky number is 12
My lucky number is 12

In [3]:
print("My lucky number is %d" % 12.34)  # int(12.34)

My lucky number is 12

In [4]:
print('My lucky number is %d' % '12')

TypeError: %d format: a real number is required, not str

In [5]:
print("My lucky number is %s" % "12")

My lucky number is 12

In [6]:
print("My lucky number is %f" % 12.34)
print("My lucky number is %f" % 12)  # float(12)
print("My lucky number is %f" % False)

My lucky number is 12.340000
My lucky number is 12.000000
My lucky number is 0.000000

In [7]:
print()  # str()
print("My lucky number is %s" % True)
print("My lucky number is %s" % None)
print("My lucky number is %s" % 1)
print("My lucky number is %s" % 13.4)
print("My lucky number is %s" % 133224234)
print("My lucky number is %s" % "python")

My lucky number is True
My lucky number is None
My lucky number is 1
My lucky number is 13.4
My lucky number is 133224234
My lucky number is python

In [8]:
print()  # repr()
print("My lucky number is %r" % True)
print("My lucky number is %r" % None)
print("My lucky number is %r" % 1)
print("My lucky number is %r" % 13.4)
print("My lucky number is %r" % 133224234)
print("My lucky number is %r" % "python")

My lucky number is True
My lucky number is None
My lucky number is 1
My lucky number is 13.4
My lucky number is 133224234
My lucky number is 'python'

In [9]:
# %o - octal
print("%o" % 34, oct(34))

# %x - hexadecimal lowercase
print("%x" % 34, hex(34))
# %X - hexadecimal uppercase
print("%X" % 34, hex(34))

42 0o42
22 0x22
22 0x22

In [10]:
# %b - binary
print('%b' % (12), bin(12))

ValueError: unsupported format character 'b' (0x62) at index 1

In [11]:
print("%s" % "12")
print("%c" % "1")
print("%s" % "1")

12
1
1

In [12]:
print("%c" % "12")

TypeError: %c requires int or char

In [13]:
print()  # float()  -- 6 digits post decimal
print("%f" % 12.34)              # 12.340000
print("%F" % 12.34)              # 12.340000
print("%F" % 12.34223123123123)  # 12.342231

12.340000
12.340000
12.342231

In [14]:
print("%g" % 12.34)              # 12.34
print("%G" % 12.34)              # 12.34
print("%G" % 12.34223123123123)  # 12.3422

12.34
12.34
12.3422

In [15]:
print("%e" % 12.34)              # 1.234000e+01
print("%E" % 12.34)              # 1.234000E+01
print("%E" % 12.34223123123123)  # 1.234223E+01

1.234000e+01
1.234000E+01
1.234223E+01

In [16]:
import math

print(math.pi)              # 3.141592653589793
print("%d" % math.pi)       # 3
print("%f" % math.pi)       # 3.141593

print("%9f" % math.pi)      #  3.141593
print("%9.3f" % math.pi)    #     3.142

3.141592653589793
3
3.141593
 3.141593
    3.142

In [17]:
print("lucky My lucky number is %d only." % 786)
print("pi value is %f!!!!!!!!!!" % 3.1416)
print("pi value is %10f!!!!!!!!!!" % 3.1416)
print("pi value is %10.3f!!!!!!!!!!" % 3.1416)
print("pi value is %010.3f!!!!!!!!!!" % 3.1416)

lucky My lucky number is 786 only.
pi value is 3.141600!!!!!!!!!!
pi value is   3.141600!!!!!!!!!!
pi value is      3.142!!!!!!!!!!
pi value is 000003.142!!!!!!!!!!

In [18]:
print("my name is %s - %s." % ("Udhay", "Prakash"))

my name is Udhay - Prakash.

In [19]:
print("My name is %s. I am %d old paying a tax of %f")

My name is %s. I am %d old paying a tax of %f

In [20]:
print("My name is %s. I am %d old paying a tax of %f" % ("Udhay", 99, 15.5))

My name is Udhay. I am 99 old paying a tax of 15.500000

In [21]:
print('My name is %s. I am %d old paying a tax of %f' % ('Udhay', '99', 15.5))

TypeError: %d format: a real number is required, not str

In [22]:
print("My name is %r. I am %r old paying a tax of %r" % ("Udhay", "78", 15.5))
print("My name is %s. I am %s old paying a tax of %s" % ("Udhay", "78", 15.5))

My name is 'Udhay'. I am '78' old paying a tax of 15.5
My name is Udhay. I am 78 old paying a tax of 15.5

In [23]:
print('My name is %s. I am %s old paying a tax of %s' % ('Udhay', 15.5))

TypeError: not enough arguments for format string

In [25]:
print(
    "%(language)s has %(My lucky number)03d quote types."
    % {"language": "Python", "My lucky number": 2}
)
print(
    "%(language)s has %(My lucky number)03d quote types."
    % { "My lucky number": 2, "language": "Python"}
)

Python has 002 quote types.
Python has 002 quote types.

In [26]:
print("2".zfill(3))     # '002'
print("%03d" % 2)       # '002'
print("%3d" % 2)        # '  2'

002
002
  2

In [27]:
# Limitations of old style string formatting
# 1. same data types need to be passed
# 2. If same value need to go more than one time,
#     those many number of times, values need to be passed

# New-Style String formatting

In [30]:
print("" % ())          # OLD Style
print("{}".format(""))  # New Style
# print(format("{}"))

In [31]:
print("{}".format("udhay"))         # 'udhay'
print("{{}}".format("udhay"))       # '{}'
print("{{{}}}".format("udhay"))     # '{udhay}'

udhay
{}
{udhay}

In [32]:
print("{} and {}".format("cat", "mouse"))
print("{} and {}".format(213, "mouse"))
print("{} and {}".format(213.0, True))
print("{} and {}".format(None, True))

cat and mouse
213 and mouse
213.0 and True
None and True

In [33]:
print("{} and {}".format(None, True))
print("{0} and {1}".format(None, True))
print("{1} and {0}".format(None, True))

None and True
None and True
True and None

In [34]:
print('{} and {}'.format(None))

IndexError: Replacement index 1 out of range for positional args tuple

In [35]:
print("{0} and {0}".format(None))

None and None

In [36]:
print("{}".format(1234567890.88))       # 1234567890.88
print("{:}".format(1234567890.88))      # 1234567890.88
print("{:,}".format(1234567890.88))     # 1,234,567,890.88
print("{:_}".format(1234567890.88))     # 1_234_567_890.88
print("{:-}".format(1234567890.88))     # 1234567890.88
print("{:+}".format(1234567890.88))     # +1234567890.88
print("{:+}".format(-1234567890.88))    # -1234567890.88

1234567890.88
1234567890.88
1,234,567,890.88
1_234_567_890.88
1234567890.88
+1234567890.88
-1234567890.88

In [37]:
# similar to str.zfill()
print("{:=10}".format(12348))   #      12348
print("{:0=10}".format(12348))  # 0000012348
print("{:a=10}".format(12348))  # aaaaa12348

     12348
0000012348
aaaaa12348

In [38]:
# Alignment
print("{:<20}".format("left aligned"))      # 'left aligned        '
print("{:>20}".format("right aligned"))     # '       right aligned'
print("{:^20}".format("centered"))          # '      centered

left aligned
       right aligned
      centered

In [40]:
# with fill character
print("{:-^20}".format("centered"))  # '------centered------'
print("{:*^20}".format("centered"))  # '******centered******'

------centered------
******centered******

In [41]:
# formatting
print("{}".format(1024), 1024)         # 1024 1024
print("{:b}".format(1024), bin(1024))  # 10000000000 0b1000000000
print("{:o}".format(1024), oct(1024))  # 2000 0o2000
print("{:x}".format(1024), hex(1024))  # 400 0x400
"""
>>> "int: {0:d};  hex: {0:x};  oct: {0:o};  bin: {0:b}".format(42)
'int: 42;  hex: 2a;  oct: 52;  bin: 101010'
>>> # with 0x, 0o, or 0b as prefix:
>>> "int: {0:d};  hex: {0:#x};  oct: {0:#o};  bin: {0:#b}".format(42)
'int: 42;  hex: 0x2a;  oct: 0o52;  bin: 0b101010'
"""

1024 1024
10000000000 0b10000000000
2000 0o2000
400 0x400

In [42]:
print("math.pi", math.pi)  # 3.141592653589793
print("{}".format(math.pi))  # 3.141592653589793

math.pi 3.141592653589793
3.141592653589793

In [43]:
print('{:d}'.format(math.pi))

ValueError: Unknown format code 'd' for object of type 'float'

In [44]:
print("{:f}".format(math.pi))  # 3.141593
print("{:F}".format(math.pi))  # 3.141593
print("{:g}".format(math.pi))  # 3.14159

3.141593
3.141593
3.14159

In [45]:
# Assignment: how to take floating point value, and display in new style formating as integer, in teh string

In [46]:
print("{:f}".format(math.pi))       # 3.141593
print("{:9f}".format(math.pi))      # 3.141593
print("{:9.3f}".format(math.pi))    #    3.142

3.141593
 3.141593
    3.142

In [47]:
# To multiply number with 100 and show % in result
print("{:%}".format(math.pi))   # 314.159265%
print("{:%}".format(7))         # 700.000000%

314.159265%
700.000000%

In [48]:
print("{:}%".format(math.pi))   # 3.141592653589793%

3.141592653589793%

In [49]:
print("Name:{} Age:{} Salary:{}".format("udhay", 99, 9999.9999))

Name:udhay Age:99 Salary:9999.9999

In [50]:
print(
    """
        Name  :{}
        Age   :{}
        Salary:{}""".format(
        "udhay", 99, 9999.9999
    )
)

        Name  :udhay
        Age   :99
        Salary:9999.9999

In [51]:
print(
    """
        Name  :{0}
        Age   :{1}
        Salary:{2}""".format(
        "udhay", 99, 9999.9999
    )
)
#        0      1     2

        Name  :udhay
        Age   :99
        Salary:9999.9999

In [52]:
print(
    """
        Name  :{0} Name  :{0} Salary:{2}
        Age   :{1} Name  :{0}
        Salary:{2}""".format(
        "udhay", 99, 9999.9999
    )
)
#       0      1     2

        Name  :udhay Name  :udhay Salary:9999.9999
        Age   :99 Name  :udhay
        Salary:9999.9999

In [53]:
print(
    """
        Name  :{1} Name  :{1} Salary:{1}
        Age   :{1} Name  :{1}
        Salary:{1}""".format(
        "udhay", 99, 9999.9999
    )
)
#       0      1     2

        Name  :99 Name  :99 Salary:99
        Age   :99 Name  :99
        Salary:99

In [54]:
print(
    """
        Name  :{NAME} Name  :{NAME} Salary:{SALARY}
        Age   :{AGE} Name  :{NAME}
        Salary:{SALARY}""".format(
        NAME="udhay", AGE=99, SALARY=9999.9999
    )
)

        Name  :udhay Name  :udhay Salary:9999.9999
        Age   :99 Name  :udhay
        Salary:9999.9999

In [55]:
NAME

NameError: name 'NAME' is not defined

## real-world Bank transaction

In [56]:
# Method 1
print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!!!
         """.format(
        customer="Vijay Malya",
        accound_last_4_digits=1134,
        transaction_amount="20.5 crores",
        transaction_time="12th June 1947 12:34:45",
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!!!

In [57]:
# Method 2
result = {
    "customer": "Vijay Malya",
    "accound_last_4_digits": 1134,
    "transaction_amount": "20.5 crores",
    "transaction_time": "12th June 1947 12:34:45",
}

print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!
         """.format(
        **result  # dictionary unpacking
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!

In [58]:
**result

SyntaxError: invalid syntax (2480730240.py, line 1)

In [59]:
# Method 3
print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!
         """.format_map(
        result
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!

# f_strings

In [60]:
print("" % ())          # OLD Style
print("{}".format(""))  # NEW Style
print(f'{""}')          # F-String

In [61]:
print("Hello {name}")

Hello {name}

In [ ]:
print("Hello {name}".format(name="world")) # name is only a label, not a variable

Hello world

In [63]:
name

NameError: name 'name' is not defined

In [66]:
name = "World" # variable; not label
print("Hello {name}")
print(f"Hello {name}")

Hello {name}
Hello World

In [67]:
print(f"Hello {name1}")

NameError: name 'name1' is not defined

In [68]:
number = 12312.123
print(f"number is {number}")

number is 12312.123

In [69]:
# python operations on data within the f-string
print(f"Hello {name.upper()}")
print(f"Hello {name.title()}")

print(f"number is {int(number)}")

value = 123123
print(f"The value is {float(value) + 3}")

Hello WORLD
Hello World
number is 12312
The value is 123126.0

In [70]:
value = 1234567890.88
print(f"{value}")    # 1234567890.88
print(f"{value:}")   # 1234567890.88
print(f"{value:,}")  # 1,234,567,890.88
print(f"{value:_}")  # 1_234_567_890.88
print(f"{value:-}")  # 1234567890.88
print(f"{value:+}")  # +1234567890.88

1234567890.88
1234567890.88
1,234,567,890.88
1_234_567_890.88
1234567890.88
+1234567890.88

In [71]:
print(f'{"left aligned":<20}')      # 'left aligned        '
print(f'{"right aligned":>20}')     # '       right aligned'
print(f'{"centered":^20}')          # '      centered      '
print(f'{"centered":-^20}')         # '------centered------'

left aligned
       right aligned
      centered
------centered------

In [72]:
print(f"{1024}", 1024)  # 1024 1024
print(f"{1024:d}", 1024)  # 1024 1024
print(f"{1024:b}", bin(1024))  # 10000000000 0b1000000000
print(f"{1024:o}", oct(1024))  # 2000 0o2000
print(f"{1024:x}", hex(1024))  # 400 0x400
print(f"{1024:X}", hex(1024))  # 400 0X400

1024 1024
1024 1024
10000000000 0b10000000000
2000 0o2000
400 0x400
400 0x400

In [73]:
print("math.pi", math.pi)  # 3.141592653589793
print(f"{math.pi}")  # 3.141592653589793
# print(f'{math.pi:d}')
print(f"{math.pi:f}")  # 3.141593
print(f"{math.pi:F}")  # 3.141593
print(f"{math.pi:g}")  # 3.14159

math.pi 3.141592653589793
3.141592653589793
3.141593
3.141593
3.14159

In [74]:
print(f"{math.pi:f}")  # 3.141593
print(f"{math.pi:9f}")  #  3.141593
print(f"{math.pi:9.3f}")  #     3.142

3.141593
 3.141593
    3.142

In [75]:

print(f"{'quoted string'}")
print(f'{"quoted string"}')

# To get braces in string
print(f"{4 * 10}")  # 40
print(f"{{4*10}}")  # {4*10}
print(f"{{{4 * 10}}}")  # {40}

print(f'{"quoted string"}')  # quoted string
print(f'{{"quoted string"}}')  # {"quoted string"}
print(f'{{{"quoted string"}}}')  # {quoted string}

quoted string
quoted string
40
{4*10}
{40}
quoted string
{"quoted string"}
{quoted string}

In [76]:
# Processing escape sequences
print(f"x={4 * 10}\n")
print(rf"x={4 * 10}\n")
print(fr"x={4 * 10}\n")

x=40

x=40\n
x=40\n

In [78]:
import decimal 

# format specifier
width = 10
precision = 4
value = decimal.Decimal("12.345688687687687687687687687687687686876868686876876876877")
print(f"result: {value}")
print(f"result: {value:{width}.{precision}}")

result: 12.345688687687687687687687687687687686876868686876876876877
result:      12.35

In [80]:
value = 12.345688687687687687687687687687687686876868686876876876877
value

12.345688687687687

In [ ]:
# !s, !r, !a
name = "Python:αλεπού"
# !s - str()
print(f"{name!s}")  # Python:αλεπού
# !r - repr()
print(f"{name!r}")  # 'Python:αλεπού'
# !a - ascii()
print(f"{name!a}")  # 'Python:\u03b1\u03bb\u03b5\u03c0\u03bf\u03cd'

Python:αλεπού
'Python:αλεπού'
'Python:\u03b1\u03bb\u03b5\u03c0\u03bf\u03cd'

In [ ]:
from datetime import datetime 

today = datetime.now()
print(f"{today:%Y-%m-%d}")  # '2024-11-27'

2024-11-27

# F-String Assignments

        Introduced in python 3.8

In [83]:
language = "Python"
print(language)

Python

In [88]:
print("language =", language)
print("language = %s" % (language))
print("language = {}".format(language))
print(f"language = {language}")

print(f"{language = }")

language = Python
language = Python
language = Python
language = Python
language = 'Python'

In [89]:
num = 1234
print(f"num = {num}")
print(f"{num = }")

num = 1234
num = 1234

In [90]:
print(f'NUmber ={num}')

NUmber =1234

In [91]:
print(f'{NUmber =}')

NameError: name 'NUmber' is not defined

In [ ]:
print(f"{num     = }")
print(f"{num     = }")
print(f"{num * 3 = }")
print(f"{num / 3 = }")
print(f"{num % 3 = }")

num     = 1234
num     = 1234
num * 3 = 3702
num / 3 = 411.3333333333333
num % 3 = 1

In [93]:
print(f"language : {language}")

language : Python

In [95]:
print(f"{language :}")
print(f"{language =}")

Python
language ='Python'

In [96]:
print(f"language is {language}")

language is Python